extends ../UI-kit/ui-kit-layout.pug

block title
  title Colors & Types
block body
  body.colors-and-types
    include ../UI-kit/colors-and-types/colors/colors.pug
    include ../UI-kit/colors-and-types/types/types.pug