$dark-shade-100: rgba(#1f2041, 1);
$dark-shade-75: rgba(#1f2041, 0.75);
$dark-shade-50: rgba(#1f2041, 0.5);
$dark-shade-25: rgba(#1f2041, 0.25);
$dark-shade-5: rgba(#1f2041, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
